anyio==3.6.2+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
arrow==1.2.3+computecanada
asttokens==2.2.1+computecanada
attrs==23.1.0+computecanada
backcall==0.2.0+computecanada
beautifulsoup4==4.12.2
bleach==6.0.0+computecanada
cffi==1.15.1+computecanada
cloudpickle==2.2.1+computecanada
comm==0.1.3
debugpy==1.6.7
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
executing==1.2.0+computecanada
fastjsonschema==2.16.3+computecanada
fqdn==1.5.1+computecanada
idna==3.4+computecanada
ipykernel==6.22.0
ipython==8.13.1
ipython_genutils==0.2.0+computecanada
ipywidgets==8.0.6
isoduration==20.11.0+computecanada
jedi==0.18.2+computecanada
Jinja2==3.1.2+computecanada
jsonpointer==2.3+computecanada
jsonschema==4.17.3+computecanada
jupyter==1.0.0+computecanada
jupyter-console==6.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_events==0.6.3+computecanada
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4+computecanada
jupyterlab-widgets==3.0.7
jupyterlab_pygments==0.2.2+computecanada
markdown_it_py==2.2.0+computecanada
MarkupSafe==2.1.2+computecanada
matplotlib_inline==0.1.6+computecanada
mdurl==0.1.2+computecanada
mistune==2.0.5+computecanada
nbclassic==0.5.6
nbclient==0.7.4
nbconvert==7.3.1
nbformat==5.8.0
nest_asyncio==1.5.6+computecanada
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.24.2+computecanada
packaging==23.1+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
platformdirs==3.5.0
prometheus_client==0.16.0+computecanada
prompt-toolkit==3.0.38
psutil==5.9.4+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pycparser==2.21+computecanada
Pygments==2.15.1+computecanada
pynvml==11.4.1+computecanada
pyrsistent==0.19.3+computecanada
python-dateutil==2.8.2+computecanada
python_json_logger==2.0.7+computecanada
PyYAML==6.0+computecanada
pyzmq==25.0.0+computecanada
qtconsole==5.4.2
QtPy==2.3.1
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rich==13.3.5
scalene==1.5.21.2
Send2Trash==1.8.2
six==1.16.0+computecanada
sniffio==1.3.0+computecanada
soupsieve==2.4.1
stack_data==0.6.2+computecanada
terminado==0.17.1+computecanada
tinycss2==1.2.1+computecanada
tornado==6.2+computecanada
traitlets==5.9.0+computecanada
uri_template==1.2.0+computecanada
wcwidth==0.2.6+computecanada
webcolors==1.13
webencodings==0.5.1+computecanada
websocket_client==1.5.1+computecanada
widgetsnbextension==4.0.7
